In [2]:
def times2(var): # Funct review
    return var*2

In [3]:
times2(5)

10

In [5]:
seq=[1,2,3,4,5]

In [6]:
map(times2, seq) # You can pass in a funct, and the seq

In [7]:
list(map(times2,seq)) # To print this out, you have to return it as a list.

[2, 4, 6, 8, 10]

In [8]:
lambda var: var*2 # Lambda expression of the funct above

In [9]:
t = lambda var: var*2 # Lambda expression of the funct above

In [10]:
t(6)

12

In [12]:
list(map(lambda num: num*3,seq)) #Lambda experssion for map / instead of passing a funct

[3, 6, 9, 12, 15]

In [13]:
filter(lambda num: num%2 == 0, seq) #creates the filter

In [15]:
list(filter(lambda num: num%2 == 0, seq)) # Prints out the filtered seq

[2, 4]

In [19]:
s = 'hello my name is Sam'

In [20]:
s.lower() # Lowers everything in a string.

'hello my name is sam'

In [21]:
s.lower #Asks about the function lower, you need () to activate the function

In [22]:
s.upper()

'HELLO MY NAME IS SAM'

In [24]:
s.split() #Splits all the white space

['hello', 'my', 'name', 'is', 'Sam']

In [25]:
tweet = 'Go Sports! #Sports'

In [26]:
tweet.split()

['Go', 'Sports!', '#Sports']

In [27]:
tweet.split('#') #Splits at hastag instead

['Go Sports! ', 'Sports']

In [29]:
tweet.split('#')[1] # Just grab the hashtag only

'Sports'

In [30]:
 d = {'k1':1, 'k2':2}

In [31]:
d.keys() # Returns the keys of the dict

dict_keys(['k1', 'k2'])

In [32]:
d.items() # Returns the item and key

dict_items([('k1', 1), ('k2', 2)])

In [33]:
d.values() # Only gives the values

dict_values([1, 2])

In [38]:
lst = [1,2,3]

In [39]:
lst.pop() # Returns last item on the list - this will update the list

3

In [40]:
lst

[1, 2]

In [41]:
lst = [1,2,3,4,5]

In [42]:
item = lst.pop() # Insert the last item on the list to the item

In [45]:
lst # Show the List

[1, 2, 3, 4]

In [46]:
item # Item has the value 5

5

In [47]:
first = lst.pop(0) # Pop a certain index and store it into first

In [48]:
lst

[2, 3, 4]

In [50]:
first # First now has 1

1

In [51]:
lst.append('new') # As before, this will add at the end of the list

In [52]:
lst

[2, 3, 4, 'new']

In [53]:
'x' in [1,2,3] # Is x in this list?

False

In [54]:
'x' in ['x','y','z']

True

In [57]:
x = [(1,2),(3,4),(5,6)] # Touples in a list

In [58]:
x

[(1, 2), (3, 4), (5, 6)]

In [59]:
x[0] # Grab the Touple at Index 0

(1, 2)

In [61]:
for item in x: # Touple unpacking
    print(item)

(1, 2)
(3, 4)
(5, 6)

In [62]:
for (a,b) in x:
    print(a)

1
3
5

In [63]:
for (a,b) in x:
    print(b)

2
4
6

In [64]:
for (a,b) in x:
    print(a)
    print(b)

1
2
3
4
5
6