In [4]:
d = {'key1':'value','key2':123} # Init Dict

In [2]:
d['key1'] # Get the content that belongs to that key

'value'

In [5]:
d['key2']

123

In [6]:
d = {'k1':[1,2,3]} # List inside a Dict

In [7]:
d['k1']

[1, 2, 3]

In [8]:
d['k1'][1] # You can grab within the list

2

In [9]:
my_list = d['k1'] # Init inside contents of a dict to a variable (In this case a list)

In [10]:
my_list # Is now a list

[1, 2, 3]

In [11]:
my_list[0]

1

In [13]:
d = {'k1':{'innerkey':[1,2,3]}} # Nested Dict

In [14]:
d['k1'] # Grab the dict inside the nested dict

{'innerkey': [1, 2, 3]}

In [15]:
d['k1']['innerkey'] # Grab the contents inside the dict thats inside a dict

[1, 2, 3]

In [16]:
d['k1']['innerkey'][1] # Grab a value from a list thats inside a nested dict

2

In [17]:
True # Boolean Value

True

In [18]:
False

False

In [19]:
my_list = [1,2,3]

In [20]:
my_list[0]

1

In [21]:
t = (1,2,3) # This is a Tuple

In [22]:
t[0]

1

In [23]:
my_list[0] = 'NEW' # The main difference between a Tuple and a list

In [24]:
my_list

['NEW', 2, 3]

In [27]:
t[0] = 'NEW' # Tuples are immutable / Lists are not and we can change values inside (Tuple are used when you don't want the user to change the items)

TypeError: 'tuple' object does not support item assignment

In [29]:
{1,2,3} # Init a set

{1, 2, 3}

In [30]:
{1,1,1,2,2,2,3,3,3} # Set's are defiend by only unique elements

{1, 2, 3}

In [35]:
set([1,1,1,1,2,2,2,5,5,5,6,6,6]) # You can call a set and pass in a list to return the unique elements in the list

{1, 2, 5, 6}

In [36]:
s = {1,2,3} # Init a set

In [37]:
s.add(5) # Add to a set

In [34]:
s

{1, 2, 3, 5}

In [38]:
s.add(5)

In [40]:
s # Only one unique element in a set, so 5 will not add nor give an error

{1, 2, 3, 5}

In [41]:
1 > 2 # Is 1 greater than 2? (Comparison Operators)

False

In [42]:
1 < 2

True

In [43]:
1 >= 2

False

In [44]:
1 <= 2

True

In [45]:
1 == 1

True

In [46]:
1 = 1 # this is a variable assignment not a Comparison (Use two ==)

SyntaxError: cannot assign to literal (<ipython-input-46-ecdac3dcabfd>, line 1)

In [47]:
1 != 3 # 1 is not equal to 3

True

In [49]:
'hi' == 'bye'

False

In [50]:
'hi' != 'bye'

True

In [51]:
1 < 2 and 2 < 3 # Logical Operators

True

In [52]:
1 < 2 and 2 > 3

False

In [53]:
(1 < 2) and (2 > 3) # Adding () makes the code more readable

False

In [54]:
(1 < 2) or (2 > 3)

True

In [61]:
(1 < 2) or (2 > 3) or (1 == 1)

True

In [56]:
True and True

True

In [57]:
True and False

False

In [58]:
True or False

True

In [60]:
if (1 < 2):   # Conditionals
    print('yep!')

yep!

In [62]:
if True:
    print('Perform code')

Perform code

In [64]:
if True:
    x = 2 + 2

In [65]:
x

4

In [70]:
if (1 == 2): # False
    print('First')
else:
    print('Last')

Last

In [69]:
if (1 == 2): # False
    print('First')
elif (3 == 3): # True
        print('Middle')
else:
    print('Last')

Middle